/*css vars here*/
:root {
  --color-primary: #343ca3;
  --color-secondary: #fff;
  --color-grey: #c4c4c4;

  /* Loader VARIABLES */
  --loader-width: 2rem;
  --loader-height: 3rem;
  --line-width: 0.4rem;
  --animation-duration: 1.2s;
  --loader-initial-scale: 0.1;

  /* GO CSS */
  --GO-border-width: 0.3rem;
  --GO-padding: 4rem;
  --GO-font_size: 3rem;
}

* {
  padding: 0;
  margin: 0;
}

html {
}

body {
}

#root {
  height: 100vh;
}

.centered-position {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}

@media (max-width: 450px) {
  :root {
    /* GO CSS */
    --GO-border-width: 0.5rem;
  }
  .centered-position {
    top: 0;
    transform: translateY(0);
  }
}
